pkgbase = pt31553-fan-control
	pkgdesc = Fail-closed PT315-53 fan controller and qualification suite
	pkgver = 0.1.0
	pkgrel = 12
	url = https://github.com/dannyfranca/predator-pt315-53-fan-control
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = bash
	depends = coreutils
	depends = gcc-libs
	depends = glibc
	depends = glmark2
	depends = kmod
	depends = nvidia-utils
	depends = openssl
	depends = pacman
	depends = sbsigntools
	depends = stress-ng
	depends = systemd
	options = !debug
	options = !lto
	backup = etc/pt31553-fan-control/config.toml
	source = pt31553-fan-control-0.1.0.tar.gz::https://github.com/dannyfranca/predator-pt315-53-fan-control/archive/b69e719d78d23f3987bb3eefb9e3ca801bafd50f.tar.gz
	sha256sums = df8984936913f072987c8af2b88b643b905f001a7b460403c43e85c74334764e

pkgname = pt31553-fan-control
