pkgbase = pt31553-fan-control
	pkgdesc = Fail-closed PT315-53 fan controller and qualification suite
	pkgver = 0.1.0
	pkgrel = 6
	url = https://github.com/dannyfranca/predator-pt315-53-fan-control
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = bash
	depends = coreutils
	depends = gcc-libs
	depends = glibc
	depends = glmark2
	depends = kmod
	depends = nvidia-utils
	depends = openssl
	depends = pacman
	depends = sbsigntools
	depends = stress-ng
	depends = systemd
	options = !debug
	backup = etc/pt31553-fan-control/config.toml
	source = pt31553-fan-control-0.1.0.tar.gz::https://github.com/dannyfranca/predator-pt315-53-fan-control/archive/590c4ea728a47f7d8ea5b6f68b90c509022867eb.tar.gz
	sha256sums = 00e9185e4066964a1506589d28f39a168710bbe721bdf1fd478f4d56f8b15e80

pkgname = pt31553-fan-control
